/* tooltip id */
#tooltip {
    position: absolute;
    padding: 5px;
    background: white;
    border: solid gray 1px;
    width: 220px;
    z-index: 1;
    font-size: 14px;
    color: darkgreen;
}

/* hidden tooltip */
#tooltip.hidden {
    display: none;
}

/* styles for axes ticks 8.3.2 */

g.tick {
    font-size: 14px;
}


g.x-axis {
    stroke-width: 2;
    color: darkolivegreen;
}


/* styles for axes tickets 8.3.3 */


g.y-axis  {
    font-size: 12px;
    margin-right: 10px;
    color: darkolivegreen;
}

.y-axis g.tick line {
    display: None;
}
